<!-- Reusable launch file for obstacle detection -->
<launch>
<!--about motor
  <arg name="motor_type" default="$(env motor_version)" />
  <arg name="angle_offset" default="0" />
  <group unless="$(arg motor_type)">
    <include file="$(find vesc_driver)/launch/vesc_drive_xycar_motor.launch" />
  </group>
  <node name="xycar_motor" pkg="xycar_motor" type="xycar_motor.py" output="screen" >
    <param name="motor_type" value="$(arg motor_type)" />
    <param name="angle_offset" value="$(arg angle_offset)" />
  </node>-->

  <!-- motor node -->
  <include file="$(find vesc_ackermann)/launch/ackermann_to_vesc_test.launch" />

  <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
    <param name="serial_port" type="string" value="/dev/ttyRPL"/>
    <param name="serial_baudrate" type="int" value="115200"/>
    <param name="frame_id" type="string" value="laser"/>
    <param name="inverted" type="bool" value="false"/>
    <param name="angle_compensate" type="bool" value="true"/>
  </node>

<node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
      <rosparam command="load" file="$(find laser_filters)/examples/box_filter.yaml" />
</node>
 
    <node name="obstacle_extractor" pkg="obstacle_detector" type="obstacle_extractor_node" output="screen">
    <remap from="scan" to="scan_filtered"/>
    <param name="active"               value="true"/>
    <param name="use_scan"             value="true"/>
    <param name="use_pcl"              value="true"/>
    <!-- use_pcl, default value:false -->
    <param name="use_split_and_merge"    value="true"/>
    <param name="circles_from_visibles"  value="false"/>
    <param name="discard_converted_segments" value="false"/>
    <param name="transform_coordinates"  value="true"/>

    <param name="min_group_points"     value="2"/>  

    <param name="max_group_distance"   value="0.1"/>
    <param name="distance_proportion"  value="0.00628"/>
    <param name="max_split_distance"   value="0.2"/>
    <param name="max_merge_separation" value="0.2"/>
    <param name="max_merge_spread"     value="0.2"/>
    <param name="max_circle_radius"    value="0.6"/>
    <param name="radius_enlargement"   value="0.3"/>

    <param name="frame_id"             value="laser"/>
  </node>

  <node name="obstacle_tracker" pkg="obstacle_detector" type="obstacle_tracker_node">
    <param name="active"                  value="true"/>

    <param name="loop_rate"               value="100.0"/>
    <param name="tracking_duration"       value="2.0"/>
    <param name="min_correspondence_cost" value="0.6"/>
    <param name="std_correspondence_dev"  value="0.15"/>
    <param name="process_variance"        value="0.1"/>  
    <param name="process_rate_variance"   value="0.1"/>  
    <param name="measurement_variance"    value="1.0"/> 

    <param name="frame_id"                value="map"/>

    <remap from="tracked_obstacles" to="obstacles"/>
  </node>

 <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find obstacle_detector)/resources/obstacle_detector.rviz"/>
 <!--<node name="test1" pkg="obstacle_detector" tycdpe="fos.py" output="screen">

 </node>
-->

  <node name="test11" pkg="obstacle_detector" type="narrow_path.py" output="screen">
  </node>


<!--<node name="motor_test" pkg="racecar_safety_controller" type="safety_controller_node.py" output="screen">
    <remap from="ackermann_cmd_input" to="ackermann" />
</node>-->

 <!--
<node name="test2" pkg="obstacle_detector" type="avoid_obstacles.py" output="screen">
</node>
  -->
</launch>

